<!--
   TODO: the screen size will adjust down to the smallest size it can accomodate but i can for the life of me 
   just not get it show the content after dropdown the menu and collapse its just gone Example works so im missing something
   But it works for now so im just going with it
-->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbarSupportedContent">
        <li class="nav-item"><a class="nav-link active" routerLink="/home">Frontpage</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/products">Food</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">Peta</a></li>
      </ul>

      <!--ngif cookie is present-->
      <div *ngIf="!_isLoggedIn" class="col-6">
        <form (ngSubmit)="ToLogin(_login)" #loginForm="ngForm" class="d-flex">

          <div class="d-flex">

            <input class="form-control me-2" type="text" placeholder="Email" required [(ngModel)]="_login.email"
              name="email" #loginemail="ngModel">
            <!-- Er ikke nødvendig for hvad jeg gerne vil, er for demonstrering af funktionalitet-->
            <div class="text-wrap" [hidden]="loginemail.valid || loginemail.pristine">
              Email is required
            </div>

            <input class="form-control me-2" type="text" name="password" placeholder="Password" required
              [(ngModel)]="_login.password" #loginPassword="ngModel">
            <div class="text-wrap" [hidden]="loginPassword.valid || loginPassword.pristine">
              Email is required
            </div>

          </div>
          <button class="btn border" [disabled]="!loginForm.valid" type="submit">Login</button>
        </form>
      </div>
      <div *ngIf="_isLoggedIn">
        You are logged in
        <button class="btn border bg-primary" (click)="LogOut()">Logout</button>
      </div>

    </div>

  </div>
  <div class="container" style="max-width: 550px">
    <h2 class="text-center mb-5">Angular Login with Google</h2>
    <div *ngIf="_isLoggedIn === false">
      <div>
        <button type="button" (click)="ExternalLogin()" class="btn btn-danger">Login with Google</button>
      </div>
    </div>
    <div *ngIf="_isLoggedIn === true">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
      </div>
      <button type="button" (click)="LogOutWithGoogle()" class="btn btn-primary">Log Out</button>
    </div>
  </div>

</nav>